*{
  margin: 0;
  padding: 0.7px;
  transition: 0.7s;
  box-sizing: border-box;
}
.btns{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20px;
  color: #000;
  background-color: chocolate;
}